<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;800;900&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/layout.css')}}">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>
    </footer>
</body>
</html>